.dashboard {
    display:  flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar {
    
    background-color: #eee;
    height: 100vh;
}


.sidecontainer {
    
    /* background-color: blue; */
    height: 100vh;
}